{% extends 'base.html' %}

{% block head %}
<title> Home </title>
{% endblock %}

{% block body %}
<h1>Home Page 1</h1>
<br>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>WELCOME</h1>
            <p>This is Clever Programmer Blog having FLASK tutorial</p>
            <p>
                <a class="btn btn-primary" href="/posts" role="button">Go to Posts
                    &raquo;</a>
            </p>
        </div>
    </div>
</main>
{% endblock %}